body{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 950px;
    margin: auto;
}
.header{
    background-color: #2d303a;
    height: 15vh;
}
.header_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.logo{
    text-transform: uppercase;
    color: white;
    width: 100px;
    font-size: 25px;
}
.logo span{
    color: #f06c64;
}


.nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
    left: 0px;
}
.nav_a{
        text-transform: uppercase;
    color: white;
    }

.nav_first-child{
    color:#f06c64;
        text-transform: uppercase;
}

.slider{
    background-color: #f06c64;
    height: 100vh;
}
.slider-img{
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.img_iphone_vert{
    width: 50%;
   position: absolute;
}
.img_iphone_hor{
    width: 50%;
    right: 0;
    position: absolute;
}

.our_services{
    height: 500px;
    padding-top: 60px;
}

.our_services_blocs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #767e9e;
}

.our_services h1{
    font-size: 30px;
    padding:0 10px 20px;
    font-weight: 900;
}
.our_services_blocs h2{
    font-size: 18px;
   padding: 0 5px 10px 10px;
   font-weight: 900;
}
.our_services_blocs p{
    font-size: 12px;
    line-height: 2;
    padding: 0 5px 30px 10px;
}
.os1>p{
    font-size: 18px;
    
}
.os1{
    width: 100%;
    padding: 0 20px 30px 10px;
}
.os2{
    width: 33%;
    display: flex;
    }

.os3{
    width: 33%;
    display: flex;
    }
.os4{
    width: 33%;
    display: flex;
    }
.os5{
    width: 33%;
    display: flex;
    }
.os6{
    width: 33%;
    display: flex;
    }
.os7{
    width: 33%;
    display: flex;
    }