body{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    }

*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 950px;
    margin: auto;
}
.header{
    background-color: #2d303a;
    height: 15vh;
}
.header_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.header_links a{
    opacity: 0.8;
}
.header_links a:hover{
    opacity: 1;
    transition: 0.4s;
}
.logo{
    text-transform: uppercase;
    color: white;
    width: 100px;
    font-size: 25px;
}
.logo span{
    color: #f06c64;
}


.nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
    left: 0px;
}
.nav_a{
        text-transform: uppercase;
    color: white;
    }

.nav_first-child{
    color:#f06c64;
        text-transform: uppercase;
}

.slider{
    background-color: #f06c64;
    height: 100vh;
}
.slider-img{
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.img_iphone_vert{
    width: 50%;
   position: absolute;
}
.img_iphone_hor{
    width: 50%;
    right: 0;
    position: absolute;
}

.our_services{
    height: 550px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.our_services_blocs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #767e9e;
}

.our_services h1{
    font-size: 30px;
    padding:0 10px 20px;
    font-weight: 900;
}
.our_services_blocs h2{
    font-size: 18px;
   padding: 0 5px 10px 10px;
   font-weight: 900;
}
.our_services_blocs p{
    font-size: 12px;
    line-height: 2;
    padding: 0 5px 30px 10px;
}
.os1>p{
    font-size: 18px;
    
}
.os1{
    width: 100%;
    padding: 0 20px 30px 10px;
}
.os2{
    width: 33%;
    display: flex;
    }

.os3{
    width: 33%;
    display: flex;
    }
.os4{
    width: 33%;
    display: flex;
    }
.os5{
    width: 33%;
    display: flex;
    }
.os6{
    width: 33%;
    display: flex;
    }
.os7{
    width: 33%;
    display: flex;
    }

.portfolio{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #2d303a;
    font-size: 30px;
    color: #666d89;
}
.portfolio h2{
     font-size: 30px;
     padding-bottom: 20px;
}
.portfolio p{
    font-size: 18px;
}
.portfolio_img{
    padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.portfolio_img img{
    width: 220px;
    height: 190px;
    overflow: hidden;
}

.btn{
    text-decoration: none;
    background-color: rgba(0,0,0  , 0);
    border: 1px solid #767e9e;
    color: #767e9e;
    border-radius: 4px;
}
.btn:hover{
    border: 1px solid #dedede;
    color: #dedede;
    transition: 0.6s;
    }

.about_us{
    background-color: #f2f2f2;
    color: #666d89;
    padding: 70px 0;
}
.network{
    width: 45%;
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.btn_ntw{
    border: 1px solid  #666d89;
    border-radius: 50%;
    color:#666d89 ;
    list-style: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.1rem;
}
.btn_ntw:hover{
    opacity: 1;
    transition: 0.6s;
}

.about_us_people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.about_us_items h2{
font-size: 30px;
padding-bottom: 20px;
}
.about_us_items>p{
    font-size: 18px;
    line-height: 2;
    padding-bottom: 20px;
    color: #767e9e;
    }
.about_us_items h3{
    font-size: 18px;
    padding: 10px 0;
}
.about_us_people p{
    font-size: 12px;
    line-height: 2;
    padding-bottom: 20px;
}
.contacts{
    background-color: #f06c64;
    color: #f0d8d9;
    padding: 70px 0;
}
.contacts_items{
    display: flex;
    justify-content: space-between;
}
.contacts h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.contacts>div>p{
    font-size: 18px;
    line-height: 2;
}
.contacts_input{
    width: 68%;
}
.contacts_input input{
    width: 100%;
    background-color: #d6564f;
    color: #f48c8f;
    border: 1px solid #f48c8f;
    line-height: 4;
    margin: 10px 0;
    padding-left:20px;
    }
    .contacts_input .input_details{
    padding-bottom: 8rem;
}

::-webkit-input-placeholder{
    color: #f48c8f;
}
.contact_us{
    width: 30%;
}
.contact_us h3{
    font-size: 18px;
    padding: 20px 0;
}
.contact_us p{
    font-size: 12px;
    padding-bottom: 20px;
    line-height: 2;
}
.contact_us ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
   
}
.contact_us li{
    line-height: 2;
    left: 0;
    padding: 0;
    margin-left: 0;
   
}

.contact_us span{
    padding-left: 20px;

}

.footer{
    height: 15vh;
    background-color: #2d303a;
    display: flex;
    align-items: center;
}
.copyright{
    color: #666d89;
}
.footer_items{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}
.footer_network{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}